a{
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
}

.linkedin{
    border-radius:6px;
    padding: 6px 5px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #5093E2;
    gap: .5rem;
    margin-right: 20px ;
    margin-left: 25px;

}
.mail{
    padding:5px;
    padding-right: 1rem;
    padding-left: 1rem;
    color: rgb(255, 255, 255);
    background-color:rgb(190, 8, 8);
    justify-content: center;
    gap: .5rem;
    border-radius:6px;
}
nav{
    display: flex;
    margin: 35px;
}


.about{
    margin:30px;
    
    text-align: left;
    color: rgb(74, 74, 74);
    font-family:sans-serif;
}
.about h2{
    margin-bottom: 5px;
}
.about p{
    margin-bottom: 2px;
}

