.app-container{
    background-color: rgb(238, 236, 236);
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
@media screen and (max-width:500px) {
    #root{
     margin: 0;
     padding: .5rem;
    }
}